*~
build*/

CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile

peek
src/*.c
tests/*.c
ui/*.c
ui/about.ui
data/gschemas.compiled
data/*.desktop
data/*.appdata.xml

# snapcraft build directories
parts/
prime/
stage/
*.snap
