[Desktop Entry]
Name=Peek
Exec=peek
Comment=An animated GIF recorder
Icon=peek
Type=Application
Categories=GTK;GNOME;Utility;
StartupNotify=true
Terminal=false
